@import "src/scss/settings/_colors.scss";

.logOutAndRegiMessageContainer {
  width: 414px;
  height: 253px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 246px auto 0;
  .logOutAndRegiTitle {
    line-height: 55px;
    font-size: 40px;
    letter-spacing: -0.8px;
    color: $darkGrey;
    text-align: center;
  }
  .logOutAndRegiButton {
    text-decoration: none;
    color: $blackColor;
    font-size: 18px;
    font-weight: 300;
    padding: 15px 13px;
    text-align: center;
    margin-top: 35px;
    &:hover {
      border: 0.75px solid $darkGrey;
    }
  }
}