$whiteColor: #FFFFFF;
$almostWhite: #FFFFFFC9;
$darkGrey: #3C3C3C;
$blackColor: #000000;
$lightGrey: #3C3C3C26;
$mediumGrey: #707070;
$lightGrey2: #F0F1F1;
$moroGreen: #5E5322;
$yellowColor: #FAD648;
$mediumGrey2: #737373;
$almostBlack: #1A1818;