@import "src/scss/settings/_colors.scss";

.fourEasyStepsSection {
  width: 1900px;
  height: 624px;
  margin-top: 55px;
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .fourEasyStepsTitle {
    width: 416px;
    height: 52px;
    color: $darkGrey;
    font-size: 38px;
    line-height: 55px;
    letter-spacing: -0.76px;
    text-align: center;
  }

  .fourEasyStepsContainer {
    width: 100%;
    height: 325px;
    background-color: $lightGrey2;
    margin-top: 34px;
    margin-bottom: 35px;
    display: flex;
    justify-content: center;
    align-items: center;

    .fourEasyStepsBigBox {
      width: 1072px;
      height: 174px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .fourEasyStepsBox {
        width: 136px;
        height: 172px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .fourEasyStepsImage {
          width: 83px;
          height: 83px;
          background-image: url("../../assets/Icon-2@2x.png");
          background-repeat: no-repeat;
          background-size: cover;
        }

        .t-shirtImage {
          background-image: url("../../assets/Icon-1@2x.png");
        }

        .bagImage {
          background-image: url("../../assets/Icon-2@2x.png");
        }

        .magnifierImage {
          background-image: url("../../assets/Icon-3@2x.png");
        }

        .reloadImage {
          background-image: url("../../assets/Icon-4@2x.png");
        }

        .stepsTitle {
          width: 138px;
          font-size: 18px;
          line-height: 24px;
          text-align: center;
          color: $darkGrey;
          margin: 8px auto;
        }

        .diffEasySteps {
          line-height: 20px;
        }

        .stepsUnderline {
          width: 70px;
          height: 1px;
          background-color: $mediumGrey;
        }

        .stepsText {
          font-size: 16px;
          line-height: 18px;
          text-align: center;
          color: $darkGrey;
          margin-top: 8px;
        }
      }

      .theBiggestBox {
        width: 164px;
      }
    }
  }

  .fourEasyStepsButton {
    width: 320px;
    height: 120px;
    border: 0.75px solid $darkGrey;
    text-align: center;
    font-size: 36px;
    line-height: 45px;
    font-weight: 300;
    text-decoration: none;
    color: $darkGrey;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}