@import "src/scss/settings/_colors.scss";

.contactSection {
  width: 100%;
  height: 1026px;
  background-image: url("../../assets/Background Image@2x.png");
  background-repeat: no-repeat;
  background-size: cover;

  .contactTransparentApla {
    width: 100%;
    height: 1026px;
    background-color: $almostWhite;

    .contactContainer {
      width: 528px;
      height: 498px;
      position: relative;
      left: 64.7%;
      top: 200px;
      display: flex;
      flex-direction: column;
      align-items: center;

      .contactTitle {
        width: 358px;
        height: 52px;
        font-size: 38px;
        line-height: 55px;
        letter-spacing: -0.76px;
        color: $darkGrey;
        text-align: center;
      }

      .successText {
        color: green;
        font-size: 16px;
        line-height: 22px;
        font-weight: 600;
        text-align: center;
        margin-top: 35px;
      }

      .contactForm {
        width: 528px;
        height: 327px;
        margin-top: 35px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .inputBigBox {
          width: 528px;
          height: 62px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 40px;

          .inputBox {
            width: 256px;
            height: 62px;
          }
        }

        .textareaBigBox {
          width: 528px;
          height: 135px;

          .textareaLabel {
            font-size: 16px;
          }

          #textArea {
            width: 528px;
            height: 102px;
            margin-top: 12px;
            font-size: 18px;
            line-height: 24px;
            letter-spacing: -0.10px;
            border: none;
            border-bottom: 0.75px solid $darkGrey;
            resize: none;
            font-family: "Open Sans", sans-serif;
            font-weight: 400;

            &::placeholder {
              color: $lightGrey;
            }

            &:focus {
              outline: none;
            }

            &.errorLine {
              border-bottom: 0.75px solid red;
            }
          }

          .inputSubmit {
            float: right;
            padding: 13px 53px;
            font-size: 18px;
            font-weight: 300;
            color: $blackColor;
            background-color: $whiteColor;
            border: 0.75px solid $darkGrey;
            margin-top: 40px;
          }
        }
      }
    }
  }

  .errorText {
    color: red;
    position: relative;
    top: 8px;
    font-size: 12px;
  }
}