@import "src/scss/settings/_colors.scss";

.whoWeHelpPaginationContainer {
  width: 1344px;
  height: 553px;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .whoWeHelpText {
    width: 640px;
    height: 94px;
    font-size: 22px;
    line-height: 30px;
    color: #3C3C3C;
    text-align: center;
  }
}
.items {
  width: 1344px;
  height: 345px;
  margin-top: 32px;
  .itemContainer {
    width: 1344px;
    height: 115px;
    border-bottom: 0.75px solid #3C3C3C;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &:last-child {
      border-bottom: none;
    }
    .itemLeftBox {
      .nameOrganization {
        font-size: 26px;
        line-height: 31px;
        color: #3C3C3C;
        margin-bottom: 6px;
      }
      .goalsOrganization {
        font-size: 18px;
        line-height: 22px;
        color: #3C3C3C;
      }
    }
    .itemRightBox {
      font-weight: 300;
    }
  }
}

.pagination {
  width: 155px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 29px;
  .page-item {
    padding: 15px 13px;
    color: #3C3C3C;
  }
  .active {
    border: 1px solid #707070;
  }
}


