@import "src/scss/settings/_colors.scss";

.logInContainer {
  width: 504px;
  height: 498px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 246px auto 0;

  .logInTitle {
    width: 195px;
    height: 55px;
    line-height: 55px;
    font-size: 40px;
    letter-spacing: -0.8px;
    color: $darkGrey;
    text-align: center;
  }

  .logInForm {
    width: 504px;
    height: 325px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;

    .logInGreyBox {
      padding: 40px 67px;
      margin-bottom: 40px;
      background-color: $lightGrey2;
      display: flex;
      justify-content: center;
      align-items: center;

      .logInInputBox {
        width: 250px;
        height: 155px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }

    .logInButtonAndInputSubmitBox {
      width: 504px;
      height: 50px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .logInButton {
        text-decoration: none;
        color: $blackColor;
        font-size: 18px;
        font-weight: 300;
        padding: 15px 13px;
        text-align: center;

        &:hover {
          border: 0.75px solid $darkGrey;
        }
      }

      .inputSubmit {
        padding: 12px 15px;
        border: none;
        background-color: transparent;
        font-family: "Open Sans", sans-serif;
        font-weight: 300;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }
    }
  }
}
