@import "src/scss/settings/_colors.scss";

.signUpContainer {
  width: 499px;
  height: 591px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 246px auto 0;

  .signUpTitle {
    width: 208px;
    height: 55px;
    line-height: 55px;
    font-size: 40px;
    letter-spacing: -0.8px;
    color: #3C3C3C;
    text-align: center;
  }

  .signUpForm {
    width: 499px;
    height: 418px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;

    .signUpGreyBox {
      width: 385px;
      height: 328px;
      margin-bottom: 40px;
      background-color: #F0F1F1;
      display: flex;
      justify-content: center;
      align-items: center;

      .signUpInputBox {
        width: 250px;
        height: 248px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }

    .signUpButtonAndInputSubmitBox {
      width: 504px;
      height: 50px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .signUpButton {
        text-decoration: none;
        color: #000000;
        font-size: 18px;
        font-weight: 300;
        padding: 15px 13px;
        text-align: center;
        cursor: pointer;

        &:hover {
          border: 0.75px solid #3C3C3C;
        }
      }

      .inputSubmit {
        padding: 12px 15px;
        border: none;
        background-color: transparent;
        font-family: "Open Sans", sans-serif;
        font-weight: 300;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
